/* playlist.css */
body {
  background-color: #121212;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;

}

.playlist-container {
  max-width: 900px;
  margin: 20px auto;
}

.playlist-info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.playlist-cover {
  width: 200px;
  border-radius: 8px;
}

.playlist-details h2 {
  margin: 0 0 10px 0;
  font-size: 28px;
}

.btn-play {
  background-color: #00ffe7;
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.btn-play:hover {
  background-color: #00ffe7;
}

.song-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.song-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 0;
  border-bottom: 1px solid #282828;
}

.song-index {
  width: 30px;
  text-align: center;
  color: #b3b3b3;
}

.song-item img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.song-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.song-info strong {
  font-size: 16px;
}

.song-info span {
  font-size: 14px;
  color: #b3b3b3;
}

.song-duration {
  width: 50px;
  text-align: right;
  color: #b3b3b3;
}

.btn-play-small {
  background: none;
  border: none;
  color: #00ffe7;
  font-size: 18px;
  cursor: pointer;
}






