<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homepage</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/audio.css" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"> -->
  </head>
  <body>
    <header>
      <h1>🎵 Chào mừng đến với MusicZone</h1>
      <nav>
        <div class="nav-left">
          <a href="./index.html">Home</a>
          <a href="./playlist.html">Playlists</a>
          <a href="./setting.html">Settings</a>
        </div>

        <div class="search-bar">
          <span class="search-icon">🔍</span>
          <input id="search-input" type="text" placeholder="Tìm kiếm ..." />
          <button id="search-btn">Search</button>
          <div id="search-results" class="search-results"></div>
        </div>

        <div class="nav-right">
          <li id="login-link"><a href="login.html">Log in</a></li>
          <li id="signup-link"><a href="register.html">Sign up</a></li>
          <li id="profile-link" style="display: none">
            <a href="profile.html">Profile</a>
          </li>
          <li id="logout-link" style="display: none">
            <a href="#" id="logout-btn">Log out</a>
          </li>
        </div>
      </nav>
    </header>

    <section class="hero">
      <h2><span style="margin-right: 8px">🏆</span>Leaderboard</h2>
    </section>

    <!-- <h1>🎶 Trang Chủ Âm Nhạc 🎵</h1> -->

    <div class="section-row">
      <div class="title">
        <h2>🔥 Bài Hát Thịnh Hành</h2>
        <ul id="trending-songs"></ul>
      </div>

      <div class="title">
        <h2>⭐ Nghệ Sĩ Thịnh Hành</h2>
        <ul id="trending-artists">
          <li>
            <img src="../asset/sontung.png" alt="Sơn Tùng M-TP" />
            <div class="author">🎤 Sơn Tùng M-TP</div>
          </li>
          <li>
            <img src="../asset/hansara.png" alt="Han Sara" />
            <div class="author">🎤 Han Sara</div>
          </li>
          <li>
            <img src="../asset/atsh.png" alt="ANH TRAI SAY HI" />
            <div class="author">🎤 ANH TRAI SAY HI</div>
          </li>
          <li>
            <img src="../asset/hieuthuhai.png" alt="HIEUTHUHAI" />
            <div class="author">🎤 HIEUTHUHAI</div>
          </li>
        </ul>
      </div>

      <div class="title">
        <h2>💿 Album Nổi Tiếng</h2>
        <ul id="trending-albums">
          <li>
            <img
              src="../asset/aicungbatdautudaudo.png"
              alt="Ai Cũng Phải Bắt Đầu Tù Đâu Đó"
            />
            <div>
              <strong>Ai Cũng Phải Bắt Đầu Tù Đâu Đó</strong>
              <div class="author">HIEUTHUHAI</div>
            </div>
          </li>
          <li>
            <img src="../asset/unfrozen.png" alt="UNFROZEN" />
            <div>
              <strong>UNFROZEN</strong>
              <div class="author">Han Sara</div>
            </div>
          </li>
          <li>
            <img src="../asset/rise.png" alt="RISE" />
            <div>
              <strong>RISE</strong>
              <div class="author">Taeyang</div>
            </div>
          </li>
          <li>
            <img src="../asset/danhdoi.png" alt="Đánh Đổi" />
            <div>
              <strong>Đánh Đổi</strong>
              <div class="author">Obito</div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="title">
      <h2>🎵 Bài Hát Khác</h2>
      <ul id="other-songs" class="horizontal-list"></ul>
    </div>

    <div class="title">
      <h2>🎧 Nghệ Sĩ Khác</h2>
      <ul id="other-artists" class="horizontal-list">
        <a href="artists-details.html"></a>
      </ul>
    </div>

    <div class="title">
      <h2>💿 Album Khác</h2>
      <ul id="other-albums" class="horizontal-list"></ul>
    </div>

    <div id="player-banner" class="player-banner">
      <img
        id="player-thumbnail"
        src=""
        alt="thumbnail"
        style="width: 50px; height: 50px; object-fit: cover; border-radius: 4px"
      />
      <div id="now-playing-info"></div>

      <div class="custom-audio-player">
        <audio id="audio-player"></audio>
        <button id="play-pause">
          <img
            src="../asset/media-player-music-pause-svgrepo-com.svg"
            alt="Play/Pause"
            style="width: 24px; height: 24px"
          />
        </button>
        <span id="current-time">00:00</span>
        <input type="range" id="seek-bar" value="0" step="1" />
        <span id="duration">00:00</span>
      </div>
      <button
        id="favorite-btn"
        style="background: none; border: none; cursor: pointer"
      >
        <img
          id="favorite-icon"
          src="../asset/favorite_24dp_75FBFD_FILL0_wght400_GRAD0_opsz24.svg"
          alt="Favorite"
          style="width: 24px; height: 24px"
        />
      </button>
    </div>

    <footer>
      <p>&copy; homepage. All rights reserved.</p>
    </footer>
    <script type="module" src="../js/config/check_session.js"></script>
    <script type="module" src="../js/controller/index.js"></script>
    <script type="module" src="../js/controller/audio.js"></script>
  </body>
</html>
