<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Playlist - My Music</title>
  <link rel="stylesheet" href="../css/index.css" />  
  <link rel="stylesheet" href="../css/playlist.css" />  
  <link rel="stylesheet" href="../css/audio.css" />
</head>
<body>

<header>
  <h1>🎧 Playlist</h1>
<nav>
  <div class="nav-left">
    <a href="./index.html">Home</a>
    <a href="./playlist.html">Playlists</a>
    <a href="./setting.html">Settings</a>
  </div>

  <div class="search-bar">
    <span class="search-icon">🔍</span>
    <input id="search-input" type="text" placeholder="Tìm kiếm ...">
    <button id="search-btn">Search</button>
    <div id="search-results" class="search-results"></div>
  </div>

  <div class="nav-right">
  <li id="login-link"><a href="login.html">Log in</a></li>
    <li id="signup-link"><a href="register.html">Sign up</a></li>
    <li id="profile-link" style="display: none;"><a href="profile.html">Profile</a></li>
    <li id="logout-link" style="display: none;"><a href="#" id="logout-btn">Log out</a></li>
  </div>
</nav>

</header>

<main class="playlist-container">
  <div class="playlist-info">
    <img src="../asset/aicungbatdautudaudo.png" alt="Playlist Cover" class="playlist-cover" />
    <div class="playlist-details">
      <h2>Playlist Chill Hits</h2>
      <p>Created by User • 25 songs</p>
      <button class="btn-play">▶ Play</button>
    </div>
  </div>

  <ul id="favorite-songs-list" class="song-list">

  </ul>
</main>
<div id="player-banner" class="player-banner">
  <img id="player-thumbnail" src="" alt="thumbnail" style="width: 50px; height: 50px; object-fit: cover; border-radius: 4px;">
  <div id="now-playing-info"></div>
    
  <div class="custom-audio-player">
    <audio id="audio-player" ></audio>
 <button id="play-pause">
 <img src="../asset/media-player-music-pause-svgrepo-com.svg" alt="Play/Pause" style="width: 24px; height: 24px;"> 
</button>
    <span id="current-time">00:00</span>
    <input type="range" id="seek-bar" value="0" step="1">
    <span id="duration">00:00</span>
  </div>
   <button id="favorite-btn" style="background: none; border: none; cursor: pointer;">
      <img id="favorite-icon" src="../asset/favorite_24dp_75FBFD_FILL0_wght400_GRAD0_opsz24.svg" alt="Favorite" style="width: 24px; height: 24px;">
    </button>
</div>
<script type="module" src="../js/controller/audio.js"></script>
<script type="module" src="../js/config/check_session.js"></script>
</body>
</html>
